*{
  box-sizing:border-box;
  margin: 0px;
  padding: 0;
  background-color:rgb(245, 236, 236);
}



header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding:5px;
  display:flexbox
}



ul, button {
  background-color: rgb(244, 12, 12);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #0f0fdf;
  text-decoration:double;
  flex-direction:row;
  
}

button{
  transition: all 0.4s ease 0s;
}
button:hover{
  background-color: rgba(0, 169, 54, 0.8);
}

.left {
  font-size: 35px;

}

input {
  font-size: 40px;
  font-weight: 500;
  
}

h1{
  background-color: black;
  border-style: groove;
  width:auto;
  padding:3px;
  color:red;
  text-align: center;
  text-decoration:underline ;
}


.check {
  font-size: 22px;
}